<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
    <meta name="author" content="blacklisted.work">
    <meta name="keywords" content="blacklisted.work AI Portal - chatAI">
    <meta name="description" content="This project is a lightweight AI chat interface that allows users to interact with AI models. It features a sidebar for conversation management, a main area for displaying responses, and an input box for submitting prompts. The interface is designed to be user-friendly and responsive.">
    <link rel="icon" href="/static/images/greyhaticon.png" type="image/png">

<html>
<head>
    <title>blacklisted.work - chatAI</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/scripts/loadModels.js" defer></script>
    <script src="/static/scripts/resizeSidebar.js" defer></script>
    <script src="/static/scripts/autoResizeTextarea.js" defer></script>
    <script src="/static/scripts/enterSubmit.js" defer></script>

</head>
<body data-default-model="{{ default_model }}">
    <div id="container">
        <div id="sidebar">
            <button id="new-conversation">+ New Conversation</button>
            <div id="conversation-list">
                <!-- Conversations will appear here -->
            </div>
        </div>
        <div id="resizer"></div>
        <div id="main">
            <div id="response-box">
                {% for entry in history %}
                    <p><strong>You:</strong> {{ entry.prompt }}</p>
                    <p><strong>Ollama ({{ entry.model }}):</strong></p>
                    <div class="markdown-response">
                        {{ entry.response_html | safe }}
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div id="input-box">
                <form action="/ask" method="post" id="input-form">
                    <div class="form-header">
                        <label for="model">Model:</label>
                        <select name="model" id="model">
                            <option value="hermes3">hermes3</option>
                        </select>
                        <input
                            type="image"
                            src="/static/images/submit.png"
                            alt="Submit"
                            id="submit-button">
                    </div>
                    <div class="form-body">
                        <textarea id="prompt" name="prompt" placeholder="Ask a question" required></textarea>
                    </div>
                </form>
            </div>
        <div>
            <footer id="footer">
                blacklisted.work Creative Commons ©2025
            </footer>
        </div>
    </div>
</body>

    <script src="/static/scripts/scrollBottom.js" defer></script>
</html>
